etl/.env
etl/.cache
etl/__pycache__/
etl/.github/
etl/logs/
etl/dbt_spotify/.env
etl/dbt_spotify/target/
etl/dbt_spotify/dbt_packages/
etl/dbt_spotify/logs/
etl/dbt_spotify/.user.yml
etl/dbt_spotify/analyses/
etl/dbt_spotify/tests/
etl/dbt_spotify/snapshots/
etl/dbt_spotify/spotify.db
frontend/.env
frontend/node_modules/
frontend/.svelte-kit/